body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  width: 70vw;
  margin: 1rem 1rem 1rem 2rem;
  padding: 1rem;
}

.header {
  width: 100vw;
}

.ui.cards {
  margin-top: 2rem;
}

.ui.horizontal.label {
  margin-left: 0.5rem;
}

.signup {
  width: 40vw;
  margin-top: 10rem;
}

.mainContent {
  margin-top: 2rem;
  width: 90vw;
}
